.password-reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f9fc;
  }
  
  .password-reset-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .password-reset-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: calc(100% - 2px);
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .reset-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(250, 230, 75, 1); /* Button background color */
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: rgba(250, 230, 75, 0.9); /* Slightly darker on hover */
  }
  @media screen and (max-width: 768px) {
 
    .password-reset-form {
      width: calc(100% - 2rem);
    }
  }